<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/quiz.css" />

<h1>Quiz Room</h1>

<div id="timer">
    <p>Time left: <span id="countdown">10</span> seconds</p>
  </div>
  

<div id="quiz-container">
  <!-- Quiz questions and options go here -->
</div>

<div id="userScores">
  <!-- User scores and results go here -->
  <button id="startQuizButton">Start Quiz</button>

  <!-- User 1 score -->
  <div>
    <p>User 1: <span id="user1Name"></span></p>
    <p>Score: <span id="user1ScoreValue"></span></p>
  </div>

  <!-- User 2 score -->
  <div>
    <p>User 2: <span id="user2Name"></span></p>
    <p>Score: <span id="user2ScoreValue"></span></p>
  </div>
</div>



<!-- JavaScript for handling quiz logic -->
<script src="/js/client.js"></script>
