<script src="/socket.io/socket.io.js"></script>

<h1>Quiz Room</h1>

<!-- Display quiz questions and user scores here -->
<div id="quiz-container">
  <!-- Quiz questions and options go here -->
</div>

<div id="userScores">
  <!-- User scores and results go here -->
  <button id="colorChangeButton">Change Color</button>
  <button id="startQuizButton">Start Quiz</button>

</div>



<!-- Include any additional content or quiz-related elements here -->

<!-- JavaScript for handling quiz logic -->
<script src="/js/client.js"></script>

